@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Raleway:ital,wght@0,600;0,700;1,600&display=swap');

/* GENERAL (Body, website margins) */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    /* background: linear-gradient(115deg, #71b7e6, #9b59b6); */
    /* animation: boy_background 25s infinite; */
    background-image: linear-gradient(115deg, #71b7e6, #0c88db, #5124ba,/* #6503c8,*/ /*#8b6edb,*/ #9b59b6, #5124ba, #0c88db, #71b7e6);
    background-size: 1000%; 
    animation: body-background 15s infinite alternate-reverse;
    /* transition: background-position 1s; */
}
/* End GENERAL (Body, website margins) */

/* Navigation Bar */
nav {
    text-align: center;
    padding: 25px;
    width: 100%;
    /* border: 2px solid black; */
    /* position: fixed;
    background: linear-gradient(115deg, #71b7e6, #9b59b6); */
}
nav ul {
    display: flex;
}
nav ul a {
    flex-basis: 10%;
    list-style-type: none;
    text-decoration: none;
    color: white;
    border: 0px solid red;
    margin: auto 3px;
    padding: 20px;
    box-shadow: rgba(30, 77, 123, .7) 10px 18px 24px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 800;
    animation:  nav_bar_hover_off ease-in-out .5s forwards;
    background-color: none;
    transition: .9s;
}
nav ul a:nth-child(2) { 
    background-image: linear-gradient(315deg, #26c2c2 0%, #ab55a8 74%);
}
nav ul a:nth-child(2), nav ul a:nth-child(3) {
    padding: 10px;
}
nav ul a:hover {
    background-color: white;
    transition: .3s;
    opacity: 88%;
    color: black;
    animation:  nav_bar_hover_on ease-in-out .5s forwards;
    box-shadow: white 30px 10px 0px 10px rgba(30, 77, 123, .5);
}
/* End Navigation BAR */

/* Table of Contents */
.table-of-contents {
    /* background-color: white; */
    /* border: 1px solid black; */
    margin: auto;
    width: 80%;
    margin-top: 45px;
    margin-bottom: 45px;
    color: white;
}
.table-of-contents h1 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 800;
    cursor: pointer;
}
.table-of-contents .contents a {
    text-decoration: none;
    color: white;
}
.table-of-contents .contents a:hover {
    text-decoration: underline;
}
.table-of-contents .contents .first-apart {
    text-decoration: underline;
}
.table-of-contents .contents .first-apart:hover {
    text-decoration: none;
}
.table-of-contents .contents {
    border-top: solid white 1px;
    border-bottom: solid white 1px;
    /* height: 250px; */
    box-shadow: rgba(18, 26, 34, 0.7) -10px 10px 18px 24px;
    /* box-shadow: 0px 10px 5px rgb(1, 1, 1), 0px -10px 5px rgb(1, 1, 1); */
    font-weight: bold;
    /* padding-left: 25px;
    padding-top: 35px; */
    font-size: 18px;
    line-height: 29px;
    animation: table-of-contents-shrink-off 1s forwards;
}
.table-of-contents .contents .inside-contents-one {
    margin-left: 30px;
}
input[type="checkbox"] {
    display: none;   
}
input[type="checkbox"]:checked ~ .contents {
    animation: table-of-contents-shrink 1s forwards;
}
input[type="checkbox"]:not(:checked) ~ .contents a {
    font-size: 0.1px;
    transition-delay: .7s;
    cursor: default;
}
input[type="checkbox"]:not(:checked) ~ .contents a {
    opacity: 0%;
    transition: .3s;
}
input[type="checkbox"]:checked ~ .contents a {
    opacity: 100%;
    transition: .8s;
    font-size: 18px;
    transition-delay: .7s;
}
/* End Table of Contents */

/* Info Section */
.info-section .first {
    /* border: 1px solid red; */
    margin: auto;
    width: 80%;
    margin-top: 50px;
}
.info-section .first h1 {
    font-size: 35px;
    color: white;
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-family: 'Raleway', sans-serif;
}
.info-section .first .inside-first {
    margin-left: 50px;
    margin-top: 15px;
    font-size: 20px;
    color: white;
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-family: 'Raleway', sans-serif;
}

/* First */
    /* One */
    .info-section .first .inside-first .p_one {
        margin-top: 30px;
        margin-bottom: 25px;
        text-decoration: underline dotted;
        border-top: white 2px solid;
        padding-top: 25px;
    }
    .info-section .first .inside-first .One {
        margin-bottom: 45px;
        display: flex;
    }
    .info-section .first .inside-first .One p {
        text-decoration: none;
        color: white;
        font-size: 15px;
        margin-bottom: 45px;
        margin-right: 30px;
        text-align: justify;
        justify-content: center;
    }
    .info-section .first .inside-first .One img {
        height: auto;
        width: 30%;
        border-radius: 20px;
    }
    /* End one */


    /* Two */
    .info-section .first .inside-first .Two {
        margin-bottom: 45px;
        /* display: flex; */
    }
    .info-section .first .inside-first .Two ol {
        margin-left: 100px;
        font-size: 20px;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    /* End Two */

    /* Three */
    .info-section .first .inside-first .Three {
        height: auto;
        text-align: center;
        margin-left: -25px;
    }
    .info-section .first .inside-first .Three span {
        font-weight: bolder;
        font-size: 23.4px;
    }
    .info-section .first .inside-first .Three div {
        display: flex;
    }
    .info-section .first .inside-first .Three div p {
        flex-basis: 25%;
        margin: 3px;
    }
    .info-section .first .inside-first .Three .first-line {
        display: block;
        border: none;
        text-align: center;
        background-image: linear-gradient(115deg, #5124ba, #9b59b6, #5124ba, #71b7e6, #0c88db,  #0c88db,  #71b7e6, #5124ba, #9b59b6, #5124ba);
        padding: 15px;
        border-radius: 20px; 
        margin-top: 25px;
        /* box-shadow: rgba(30, 77, 123, .7) 10px 18px 24px;   */
        animation: programming-history-boxes-off .7s forwards;
    }
    .info-section .first .inside-first .Three .first-line:hover {
        animation: programming-history-boxes .7s forwards;
    }
    .info-section .first .inside-first .Three .eight-line {
        display: block;
        margin-bottom: 5px;
    } 
    .info-section .first .inside-first .Three .line-nine {
        display: block;
    } 
    .info-section .first .inside-first .Three .second-line p, .third-line p, .line-four p, .fifth-line p, .sixth-line p,      .line-seven p, .eight-line p, .line-nine p {
        padding: 15px;
        background-image: linear-gradient(115deg, #71b7e6, #0c88db, #5124ba, #9b59b6, #5124ba, #0c88db,  #71b7e6);
        border-radius: 20px;
        /* border: 1px solid rgb(25, 23, 27); */
        animation: programming-history-boxes 1s forwards;
    }

    .info-section .first .inside-first .Three .second-line p:hover, .third-line p:hover, .line-four p:hover, .fifth-line p:hover, .sixth-line p:hover, .line-seven p:hover, .eight-line p:hover {
        animation: programming-history-boxes-off 1s forwards;
    }
    .info-section .first .inside-first .Three  .line-nine p {
        animation: programming-history-boxes-off 1s forwards;
        margin-bottom: 80px;
    }
    .info-section .first .inside-first .Three  .line-nine p:hover {
        animation: programming-history-boxes 1s forwards;
    }
    /* End Three */



    /* Four */
    .info-section .first .inside-first .Four  div {
        display: flex;
        /* border: 1px solid red; */
    }
    .info-section .first .inside-first .Four div p {
        font-size: 18px;
        text-align: justify;
        padding: 13px;
        flex-basis: 33%;
        padding: 15px;
        background-image: linear-gradient(115deg, #71b7e6, #0c88db, #5124ba, #9b59b6, #5124ba, #0c88db,  #71b7e6);
        border-radius: 20px;
        animation: programming-history-boxes-off 1s forwards;
        text-align: center;
        margin: 15px;
        height: auto;
    }
    .info-section .first .inside-first .Four div p:hover {
        animation: programming-history-boxes 1s forwards;
    }
    .info-section .first .inside-first .Four div p span {
        font-weight: bolder;
    }
    /* End Four */

    /* Five */
    .info-section .first .inside-first .Five p {
        margin-top: 35px;
        margin-bottom: 45px;
        border: 2px white dashed;
        padding: 25px;
        /* border: 3px solid red; */
        border-radius: 20px;
        /* box-shadow: rgba(30, 77, 123, .7) 1px 1px 10px 14px; */
        animation: programming-history-boxes-off 1s forwards;  
    }
    .info-section .first .inside-first .Five p:hover {
        animation: programming-history-boxes 1s forwards;
    }
    .info-section .first .inside-first .Five p:nth-child(6) {
        display: none;
    }
    .info-section .first .inside-first .Five p span {
        font-size: 30px;
        font-weight: bolder;
        /* text-decoration: underline overline dotted; */
    }
    /* End Five */
/* End First */

/* Buttons */
.Check-Programming-Languages {
    text-align: center;
}
.Check-Programming-Languages button {
    animation: programming-history-boxes-off .7s forwards;
}
.Check-Programming-Languages button:hover {
    animation: programming-history-boxes .7s forwards;
    cursor: pointer;
}
.Check-Programming-Languages a button {
    margin-top: 50px;
    margin-bottom: 150px;
    padding: 30px;
    background-color: navajowhite;
    border: none;
    border-radius: 20px;
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
}
.Check-Programming-Languages a button:nth-child(2) {
    font-size: large;
    background-color: green;
    color: white;
}
.Check-Programming-Languages a {
    border: none;
    background-color: none;
}
/* End Buttons */


/* End Info Section */

/* Keyframes (Animations) */
    /* Body Animation Keyframes */
     @keyframes body-background {
        0% {
            background-position: left;
        }
        100% {
            background-position: right;
        }
    }
    /* End Body Animation Keyframes */

    @keyframes body-background {
        0% {
            background-position: left;
        }
        100% {
            background-position: right;
        }
    }
    /* End Body Animation Keyframes */

    /* Nav Bar Keyframes */
    @keyframes nav_bar_hover_on {
        100% {
            margin-left: 33px;
            margin-right: 33px;
            padding-left: 43px;
            padding-right: 43px;
        }
        0% {}
    }
    @keyframes nav_bar_hover_off {
        0% {
            margin-left: 33px;
            margin-right: 33px;
            padding-left: 33px;
            padding-right: 33px;
        }
        100% {}
    }
    /* End Nav Bar Keyframes */

    /* First Keyframes */
    @keyframes programming-history-boxes {
        0% {}
        100% {
            box-shadow: rgba(30, 77, 123, .7) 1px 1px 10px 14px;  
        } 
    }
    @keyframes programming-history-boxes-off {
        0% {
            box-shadow: rgba(30, 77, 123, .7) 1px 1px 10px 14px;  
        }
        100% {}
    }
    /* End First Keyframes */

    /* Table of contents keyframes */
    @keyframes display-text-off {
        0% {
            display: block;
        }
        99% {
            display: block;
        }
        100% {
            display: none;
        }
    }
    @keyframes display-text {
        100% {
            display: none;
        }
        99% {
            display: none;
        }
        0% {
            display: block;
        }
    }
    @keyframes table-of-contents-shrink {
        0% {
            height: 0px;
        }
        100% {
            height: 250px;
            padding-left: 25px;
            padding-top: 35px;
        }
    }
    @keyframes table-of-contents-shrink-off {
        0% {
            height: 250px;
            padding-left: 25px;
            padding-top: 35px;
        }
        100% {
            height: 0px;
        }
    }
    /* End table of contents keyframes */
/* End Keyframes (Animations) */
